<header>
    <a routerLink="/home" class="title">
        <h1>{{title}}</h1>
    </a>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">{{ "HOME" | translate }}</a>
            </li>
            <li>
                <a routerLink="/my-notes">{{ "NOTES" | translate }}</a>
            </li>
            <li>
                <p-button icon="pi pi-language" (click)="switchLanguage()"></p-button>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>